<div class="row">
  <div class="container pt-5">
    <div class="row justify-content-sm-center pt-5 reposition">
      <div class="col-sm-8 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Contacto</h1>

        <form [formGroup]="exform" (submit)="enviarData()">
          <div class="form-group">
            <label class="col-form-label">Nombre</label>
            <input formControlName="nombre" type="text" class="form-control" />
            <small
              *ngIf="nombre?.invalid && nombre?.touched"
              class="text-danger"
              >El nombre es obligatorio</small
            >
          </div>
          <div class="form-group">
            <label class="col-form-label">Apellido</label>
            <input
              formControlName="apellido"
              type="text"
              class="form-control"
            />
            <small
              *ngIf="apellido?.invalid && nombre?.touched"
              class="text-danger"
              >El apellido es obligatorio</small
            >
          </div>
          <div class="form-group">
            <label class="col-form-label">Email:</label>
            <input formControlName="email" type="text" class="form-control" />
            <small *ngIf="email?.invalid && email?.touched" class="text-danger"
              >El email es obligatorio</small
            >
          </div>

          <div class="form-group">
            <label class="col-form-label">Consulta</label>
            <textarea
              formControlName="consulta"
              type="text"
              class="form-control"
            ></textarea>
            <small
              *ngIf="consulta?.invalid && consulta?.touched"
              class="text-danger"
            >
              La consulta debe tener almenos 15 caracteres</small
            >
          </div>
          <button
            [disabled]="exform.invalid"
            class="button btn btn-primary bposition"
            type="submit"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
