<div id="opacidad" class="container-fluid fondo">
  <div class="row content">
    <div class="col-sm-12">
      <div class="descripcion">
        <h2 class="text-center">Arroba Ciencia</h2>

        <h5 class="text-center">
          <span class="glyphicon glyphicon-time"></span> ¿Quienes somos?
        </h5>
        
        <hr />

        <div class="container-fluid">
          <div class="p-container rounded">
            <p>
              ¡Bienvenido a la página oficial de Arroba Ciencia! Hace 7 años que
              nos dedicamos a la animación científica, donde los niños a partir
              de juegos y experimentos con materiales que se pueden encontrar en
              una casa, aprenden el concepto de lo que es la ciencia . Todos los
              experimentos que ofrecemos y llevamos a los cumpleaños es para que
              lo hagan TODOS los chicos, algunos de ellos se los llevan a sus
              casa para jugar y son 100 % participativos! Y ningún material es
              tóxico sobre todas las cosas.
            </p>
          </div>
        </div>

        <h4 class="text-center"><small>Experimentos que hacemos</small></h4>
        <hr />

        <div class="p-container text-centercontainer-fluid">
          <p>
            - MIKI MICO / FLUBBER / SLIME / - DESCOMPOSICIÓN DE COLORES / -
            SALES DE BAÑO/ SHAMPOO/ JABÓN - EXPLOSION CON HIELO SECO / -
            BURBUJAS DE HUMO / - ESPUMA CONGELADA <br />
            - LAMPARA DE LAVA / - ERUPCIÓN DEL VOLCÁN / - MASA NO NEWTONIANA
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
